.single-con {
  padding-top: 140px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.single {
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  border: 1px solid #262840;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.single > img {
  width: 100%;
}
.single > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.single > div section div {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.single span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.single h1 {
  font-size: 35px;
}
.etc-price {
  width: 100%;
  background-image: linear-gradient(to bottom, #1e1f2b, #1e1f2b, transparent);
  border: 1px solid #262840;
  padding: 20px;
  border-radius: 12px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.etc-price dev {
  justify-content: space-between;
}
.single section img {
  width: 100%;
}
@media (min-width: 850px) {
  .single {
    flex-direction: row;
  }
  .single > img {
    width: 50%;
  }
  .single div {
    width: 45%;
  }
  .single h1 {
    font-size: 40px;
  }
}
