@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "sora", sans-serif;
}
body {
  background-color: #060714;
  width: 100vw;
  overflow-x: clip;
}

/*Nav bar*/
.nav-con {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100%;
  position: fixed;
  color: #7780a1;
  z-index: 5;
  background-color: #06071473;
  backdrop-filter: blur(30px);
}
.nav {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.nav ul {
  list-style: none;
  display: none;
  gap: 50px;
  font-size: 13px;
}
.nav section {
  display: flex;
  gap: 10px;
}
.btn {
  border: 1px solid #7780a1;
  border-radius: 12px;
  width: 80px;
  height: 35px;
  background-color: transparent;
  color: #7780a1;
}
.btn2 {
  background-image: linear-gradient(to right, #4745d0, #2a27c9);
  border-radius: 12px;
  width: 80px;
  border: none;
  color: #ffffff;
  height: 35px;
}

/*footer*/
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
}
.footer {
  width: 90%;
  max-width: 1200px;
  border: 1px solid #262840;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.footer div {
  height: 300px;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer ul {
  list-style: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 13px;
}
.footer ol {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #7780a1;
  list-style: none;
}
.footer form {
  background-color: #ffffff;
  height: 40px;
  border-radius: 13px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.footer-mid{
  border-top: 1px solid #262840;
  border-bottom: 1px solid #262840;
}
.footer form p {
  font-size: 13px;
  color: blue;
}
.footer form input {
  width: 80%;
  height: 100%;
  border: none;
}

@media (min-width: 850px) {
  .nav ul {
    display: flex;
  }

  .footer {
    flex-direction: row;
    height: 400px;
  }
  .footer div{
  height: 100%;
  width: 33.3%;

  }
  .footer-mid{
    border-left: 1px solid #262840;
    border-right: 1px solid #262840;
  }

  .btn {
    border: 2px solid #7780a1;
    border-radius: 12px;
    width: 100px;
    height: 40px;
    
  }
  .btn2 {
    width: 100px;
    height: 40px;
  }
}
